{% load static %}
<div class = "container">
    <h1> All products</h1>
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Categories</div>
        <div class="list-group list-group-flush">
            <ul>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href='{% url "product_list" %}'>All</a>
                {% for c in categories %}
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                {% endfor %}

            </ul>
        </div>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        {% for product in products %}
        <div class="item">
            <a href="{{ product.get_absolute_url }}"></a>
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
            <br>
            ${{ product.price }}
        </div>
        {% endfor %}
    </div>
</div>

            <!-- Page content wrapper-->
