{% load static %}
<div class="products">
      <div class="container">
        <div class="row">
          {% if category %}{{ category.name }}{% else %}Products{% endif %}
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li class="active" data-filter="*">All Products</li>
                  <li data-filter=".des">Featured</li>
                  <li data-filter=".dev">Flash Deals</li>
                  <li data-filter=".gra">Last Minute</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
            <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Categories</div>
                <div class="list-group list-group-flush">
                    <ul>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url "product_list" %}">All</a>
                        {% for c in categories %}
                            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        {% endfor %}

                    </ul>
                </div>
            <div id="main" class="product-list">
                <h1>{% if category %}{{ category.name }}{% else %}Products
                {% endif %}</h1>
                {% for product in products %}
                    <div class="item">
                        <a href="{{ product.get_absolute_url }}"></a>
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        <br>
                        ${{ product.price }}
                    </div>
                {% endfor %}
            </div>


            <!-- Page content wrapper-->
